COMPOSE_PROJECT_NAME=mains_blue
DOCKER_NETWORK_SUBNET=10.199.0.0/24
BRIDGE_CUSTOM_NAME=SP1020191
DOCKER_NETWORK_NAME=net-vrsc-test
# VRSC test chain
VERUSD_HOSTNAME=verusd_vrsctest
VERUSD_IPV4=10.199.0.11
VERUSD_P2P_PORT=27485
VERUSD_RPC_PORT=27486
LOCAL_RPC_PORT=27486
VERUSD_BOOTSTRAP_FLAG=
#VERUSD_BOOTSTRAP_FLAG=-bootstrap
# Wipes existing data — only use on first start or after data loss
