COMPOSE_PROJECT_NAME=mains_blue
DOCKER_NETWORK_SUBNET=10.203.0.0/24
BRIDGE_CUSTOM_NAME=SP1020301
DOCKER_NETWORK_NAME=net-vdex-blue
# VDEX
CHAIN_NAME=vdex
VERUSD_HOSTNAME=verusd_vdex
CURRENCYID_HEX=53fe39eea8c06bba32f1a4e20db67e5524f0309d
VERUSD_IPV4=10.203.0.11
VERUSD_P2P_PORT=21777
VERUSD_RPC_PORT=21778
VERUSD_BOOTSTRAP_FLAG=
#VERUSD_BOOTSTRAP_FLAG=-bootstrap
# Wipes existing data — only use on first start or after data loss
