COMPOSE_PROJECT_NAME=mains_blue
DOCKER_NETWORK_SUBNET=10.204.0.0/24
BRIDGE_CUSTOM_NAME=SP1020401
DOCKER_NETWORK_NAME=net-chips-blue
# CHIPS
CHAIN_NAME=CHIPS
VERUSD_HOSTNAME=verusd_chips
CURRENCYID_HEX=f315367528394674d45277e369629605a1c3ce9f
VERUSD_IPV4=10.204.0.11
VERUSD_P2P_PORT=22777
VERUSD_RPC_PORT=22778
VERUSD_BOOTSTRAP_FLAG=
#VERUSD_BOOTSTRAP_FLAG=-bootstrap
# Wipes existing data — only use on first start or after data loss
